<div class="container my-5">
    <div class="row">
      <div class="col-sm col-md-6">
          <h3 class="text-center">Matches Today</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Team 1</th>
                <th scope="col">Result</th>
                <th scope="col">Team 2</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Man Utd</td>
                <td>Not Started yet</td>
                <td>Everton</td>
              </tr>
              <tr>
                <td scope="row">Arsenal</td>
                <td>Not Started yet</td>
                <td>Wolves</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-sm col-md-3">
        <h3>News</h3>
        <p>Watch the goals in the video above and have your say on which is best by picking your favourite below before 18:00 GMT on Monday 11 January.</p>
      </div>
      <div class="col-sm col-md-3">
        <h3>Man Of The Match</h3>
        <p>Watch stunning goals from Pogba, Son, Maddison, Harrison, Haller, Salah and El Ghazi and vote for the best</p>
      </div>
    </div>
  </div>
  <!-- table table-dark table-striped -->